/* .stopwatch {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

*{
  padding: 0;
  margin: 0;
}
.app {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}
/* header heseg endees ehelsen */
.headerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/background.jpg);
  background-size: 100%;
}
header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 87px;
  height: 26px;
}
.linkContainer {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.colorOfLinks {
  color:#fff;
  text-decoration: none;
  border-bottom: 1px solid gray;
}
.spclOne {
  color: gray;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
}

/* header end duussan */

.Instant {
  width: 514px;
  height: fit-content;
  display: flex;
  flex-direction: column;  
  gap: 20px;
  position: absolute;
  top: 35%;
  left: 14%;
}
.Instant h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}
.Instant span {
  color: #fff;
  font-size: 18px;
}
.searchContainer {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
}
#srchInpt {
  width: 300px;
  border-radius: 4px;
  outline: none;
  border: 0;
  padding-left: 16px;
}
.srchBtn {
  width: 163px;
  background-color:  #0BBEF2;
  color: #fff;
  border-radius: 4px;
  border: 0;
}

.Activities {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftContainer {
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leftContainer h1 {
  font-size: 48px;
  font-weight: bold;
}
.leftContainer span {
  font-size: 18px;
  font-weight:500;
}
.yeahh {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ActivitiesTwo {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

/*  */

.comments {
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-image: linear-gradient(to bottom right, gainsboro ,gray); */
}
.arrow {
  width: 70%;
  display: flex;
  justify-content: end;
}
.arrow img {
  width: 50px;
}
.commentuud {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/*  */
.CommentContainer {
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  gap: 10px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#star {
  width: 24px;
  height: 24px;
}
.userProfileContainer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}
/*  */

.footerImage {
  width: 100vw;
  height: fit-content;
}



/* Page styles */


