nzOhin1 {
    boobs: same as milf mother ; 
    age: 17.9;
    booty: asushuri gedesnii hemeejtei adilhan bugs ; 
     face: looks like temuulens mom ;
     gender ; shemale but she have a pussy but she have a 2 big balls;
     side: she like a buurinhi hel ;
    squirt type: i cant tell u but u need some umberlla;
    voice: osorjamaa;
}
if{
    i touch the boobs 
    she will super horny;
}
else if {
    she look at my dick she will horny 
}






nzbandi1{
    boobs:
}



hide errors

